* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #121413;
  color: #bbb7ab;
  font-family: "Arima", cursive;
  font-size: 20px;
}
body a {
  color: #bbb7ab;
  text-decoration: none;
  transition: 0.7s;
}
body li {
  list-style: none;
}
body h1 {
  font-size: 250%;
}
@media only screen and (max-width: 959px) {
  body h1 {
    font-size: 200%;
  }
}
@media only screen and (max-width: 476px) {
  body h1 {
    font-size: 150%;
  }
}
body h1, body h2, body h3 {
  color: #35bbbb;
  margin-bottom: 1rem;
}
body .header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
}
@media only screen and (max-width: 767px) {
  body .header {
    flex-direction: column;
    justify-content: center;
    height: 25vh;
  }
}
body .header h1 {
  margin: 0;
}
body .header-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
body .header-nav ul li {
  margin: 0 1rem;
}
body .header-nav ul li .active {
  color: #dbb481;
}
body .header-nav ul li a:hover {
  color: #35bbbb;
}
body .sobre {
  background-color: #bbb7ab;
  color: #121413;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}
@media only screen and (max-width: 767px) {
  body .sobre {
    height: auto;
  }
}
body .sobre-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  body .sobre-container {
    flex-direction: column-reverse;
  }
}
body .sobre-card {
  width: 50%;
}
@media only screen and (max-width: 767px) {
  body .sobre-card {
    width: 100%;
    margin: 1rem;
  }
}
body .sobre-descricao h2 {
  font-family: "Fredoka One", cursive;
  font-size: 200%;
  color: #017070;
}
body .sobre-foto {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .sobre-foto img {
  height: 70vh;
}
@media only screen and (max-width: 767px) {
  body .sobre-foto img {
    height: auto;
    width: 100%;
  }
}
body .portfolio {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}
@media only screen and (max-width: 767px) {
  body .portfolio {
    height: auto;
    flex-direction: column;
  }
}
body .portfolio-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: 350px;
}
@media only screen and (max-width: 767px) {
  body .portfolio-card {
    width: 100%;
    margin: 1rem 0;
  }
}
@media only screen and (max-width: 476px) {
  body .portfolio-card {
    height: auto;
    margin: 0.2rem 0;
  }
}
body .portfolio-card-1, body .portfolio-card-2 {
  align-items: end;
}
body .portfolio-card-1 {
  background-image: url("../img/croche.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.7s;
  filter: grayscale(100%);
}
body .portfolio-card-1:hover {
  background-size: 110%;
}
body .portfolio-card-1:hover {
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../img/croche.jpg");
}
body .portfolio-card-2 {
  background-image: url("../img/trico.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.7s;
  filter: grayscale(100%);
}
body .portfolio-card-2:hover {
  background-size: 110%;
}
body .portfolio-card-2:hover {
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../img/trico.jpg");
}
body .portfolio-card-titulo {
  padding: 0 1rem;
  color: #121413;
  background-color: rgba(255, 255, 255, 0.5);
}
body .portfolio-card-btn {
  border: 2px solid #121413;
  border-right: 0;
  padding: 0.5rem 1rem;
  width: 8rem;
  text-align: center;
  color: #121413;
  background-color: rgba(255, 255, 255, 0.5);
}
@media only screen and (max-width: 476px) {
  body .portfolio-card-btn {
    border-bottom: 0;
  }
}
body .portfolio-card-btn:hover {
  background-color: #121413;
  color: #bbb7ab;
}
body .portfolio-card-texto {
  background-color: #191b1a;
  height: 90%;
  padding: 1rem 2rem;
  text-align: start;
  align-items: start;
}
body .portfolio-card-texto h1 {
  padding: 0;
  color: #017070;
  background-color: transparent;
}
body .servicos {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
body .servicos-card {
  width: 300px;
  height: 300px;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: end;
}
@media only screen and (max-width: 767px) {
  body .servicos-card {
    width: 100%;
  }
}
@media only screen and (max-width: 476px) {
  body .servicos-card {
    height: auto;
    margin: 0.5rem 0;
  }
}
body .servicos-card-titulo {
  text-align: center;
  padding: 0.1rem 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
}
body .servicos-card-1 {
  background-image: url("../img/produto1.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.7s;
}
body .servicos-card-1:hover {
  background-size: 110%;
}
body .servicos-card-2 {
  background-image: url("../img/produto2.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.7s;
}
body .servicos-card-2:hover {
  background-size: 110%;
}
body .servicos-card-3 {
  background-image: url("../img/produto3.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.7s;
}
body .servicos-card-3:hover {
  background-size: 110%;
}
body .servicos-card-4 {
  background-image: url("../img/produto4.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.7s;
}
body .servicos-card-4:hover {
  background-size: 110%;
}
body .servicos-card-5 {
  background-image: url("../img/produto5.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.7s;
}
body .servicos-card-5:hover {
  background-size: 110%;
}
body .servicos-card-6 {
  background-image: url("../img/produto6.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.7s;
}
body .servicos-card-6:hover {
  background-size: 110%;
}
body .servicos-card-7 {
  background-image: url("../img/produto7.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.7s;
}
body .servicos-card-7:hover {
  background-size: 110%;
}
body .servicos-card-8 {
  background-image: url("../img/produto8.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.7s;
}
body .servicos-card-8:hover {
  background-size: 110%;
}
body .contato {
  background-color: #191b1a;
  color: #bbb7ab;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
  padding-top: 1.5rem;
  text-align: center;
}
body .contato-redes {
  margin: 1rem;
}
body .contato-redes a {
  color: #35bbbb;
  margin: 0 1rem;
  font-size: 2.5rem;
}
@media only screen and (max-width: 476px) {
  body .contato-redes a {
    font-size: 2rem;
  }
}
body .contato-redes a:hover {
  color: #017070;
}
body footer {
  margin: 2rem 0;
  text-align: center;
  font-size: small;
  color: #dbb481;
}
body footer a {
  color: #dbb481;
}
body footer a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
