@use 'variaveis';

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin container{
    max-width: variaveis.$tamanho-container;
    margin: 0 auto;
    padding: .5rem 2rem;
}

@mixin bg-img($arq){
    background-image: url('../img/#{$arq}');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: .7s;

    &:hover{
        background-size: 110%;
    }
}

@mixin bg-pb($arq){
    filter: grayscale(100%);
    
    &:hover{
        filter: grayscale(0%);
        background-image: linear-gradient(variaveis.$cor-clara-transparente, variaveis.$cor-clara-transparente), url('../img/#{$arq}');
    }
}