$cor-destaque-principal: #35bbbb;  
$cor-destaque-secundaria: #017070;
$cor-clara-principal: #bbb7ab;
$cor-clara-secundaria: #dbb481;
$cor-clara-transparente: rgba(255,255,255,.5);
$cor-escura-principal: #121413;
$cor-escura-secundaria:#191b1a;
$cor-escura-transparente: rgba(0,0,0,.5);

$tamanho-container: 1200px;