@use 'variaveis';
@use 'mixins';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: variaveis.$cor-escura-principal;
    color: variaveis.$cor-clara-principal;
    font-family: 'Arima', cursive;    
    font-size: 20px;

    a{
        color: variaveis.$cor-clara-principal;
        text-decoration: none;
        transition: .7s;
    }

    li{
        list-style: none;
    }

    h1{
        font-size: 250%;
    }

    h1, h2, h3{
        color: variaveis.$cor-destaque-principal;
        margin-bottom: 1rem;
    }

    .header{
        @include mixins.container;
        @include mixins.flex-center;
        justify-content: space-between;
        height: 15vh;     

        h1{
            margin: 0;
        }

        &-nav{ 
            ul{
                @include mixins.flex-center;
                flex-wrap: wrap;

                li{
                    margin: 0 1rem;

                    .active{
                        color: variaveis.$cor-clara-secundaria;
                    }

                    a{
                        &:hover{
                            color: variaveis.$cor-destaque-principal;
                        }
                    }
                }                
            }
        }
    }

    .sobre{
        background-color: variaveis.$cor-clara-principal;
        color: variaveis.$cor-escura-principal;
        @include mixins.flex-center;
        height: 85vh; 

        &-container{
            @include mixins.container;
            @include mixins.flex-center;
        }

        &-card{
            width: 50%;
        }

        &-descricao{
            h2{
                font-family: 'Fredoka One', cursive;
                font-size: 200%;
                color: variaveis.$cor-destaque-secundaria;
            }
        }

        &-foto{
            @include mixins.flex-center;

            img{
                height: 70vh;
            }
        }
    }

    .portfolio{
        @include mixins.container;
        @include mixins.flex-center;
        justify-content: space-around;
        height: 100vh;

        &-card{
            @include mixins.flex-center;
            flex-direction: column;
            width: 350px;
            height: 350px;

            &-1, &-2{
                align-items: end;                
            }

            &-1{
                @include mixins.bg-img('croche.jpg');
                @include mixins.bg-pb('croche.jpg'); 
            }

            &-2{
                @include mixins.bg-img('trico.jpg');
                @include mixins.bg-pb('trico.jpg'); 
            }            

            &-titulo{
                padding: 0 1rem;
                color: variaveis.$cor-escura-principal;
                background-color: variaveis.$cor-clara-transparente;
            }

            &-btn{
                border: 2px solid variaveis.$cor-escura-principal;
                border-right: 0;
                padding: .5rem 1rem;
                width: 8rem;
                text-align: center;

                color: variaveis.$cor-escura-principal;
                background-color: variaveis.$cor-clara-transparente;

                &:hover{
                    background-color: variaveis.$cor-escura-principal;
                    color: variaveis.$cor-clara-principal;
                }
            }

            &-texto{
                background-color: variaveis.$cor-escura-secundaria;
                height: 90%;
                padding: 1rem 2rem;
                text-align: start;
                align-items: start;

                h1{   
                    padding: 0;                 
                    color: variaveis.$cor-destaque-secundaria;
                    background-color: transparent;
                }
            }
        }
    }

    .servicos{
        @include mixins.container;
        @include mixins.flex-center;
        flex-wrap: wrap;
        margin-bottom: 2rem;
        
        &-card{          
            width: 300px;
            height: 300px;
            margin: 1rem;
            @include mixins.flex-center;
            align-items: end;

            &-titulo{
                text-align: center;
                padding: .1rem .5rem;      
                background-color: variaveis.$cor-escura-transparente;             
            }

            @for $i from 1 through 8{
                &-#{$i}{
                    @include mixins.bg-img('produto#{$i}.jpg');
                }
            }
        }
    }
        
    .contato{
        background-color: variaveis.$cor-escura-secundaria;
        color: variaveis.$cor-clara-principal;
        @include mixins.container;
        @include mixins.flex-center;
        flex-direction: column;
        font-weight: bold;
        letter-spacing: .2rem;
        font-size: 1.5rem;
        padding-top: 1.5rem;
        text-align: center;

        &-redes{
            margin: 1rem;            

            a{
                color: variaveis.$cor-destaque-principal;
                margin: 0 1rem;
                font-size: 2.5rem;

                &:hover{
                    color: variaveis.$cor-destaque-secundaria;
                }
            }
        }
    }
    
    footer{
        margin: 2rem 0;
        text-align: center;
        font-size: small;
        color: variaveis.$cor-clara-secundaria;

        a{
            color: variaveis.$cor-clara-secundaria;
            
            &:hover{
                text-decoration: underline;
            }
        }
    }

}